settings:
{
    threads = 10;
    sample_per_pixel = 150;
}

camera:
{
    screen = {
        width = 500;
        height = 500;
    };
    position = {x = 0.0; y = 0.0; z = 0.0};
    rotation = {x = 0.0; y = 0.0; z = 0.0};
}

primitives:
{
    sphere = (
        {
            position = {x = 1.0; y = 0.0; z = -3.0};
            radius = 1.0;
            material = {
                type = "reflective";
                normal_map = "texture/normal.jpg";
                normal_intensity = 0.1;
                reflectivity = 0.8;
                roughness = 0.01;
                color = {r = 202; g = 11; b = 11}; # big red
            };
        },
        {
            position = {x = -4.0; y = 1; z = -9.0};
            radius = 1.5;
            material = {
                type = "reflective";
                reflectivity = 0.8;
                roughness = 0.01;
                color = {r = 130; g = 87; b = 195}; # big purple
            };
        },
        {
            position = {x = 0.2; y = -0.8; z = -1.5};
            radius = 0.4;
            material = {
                type = "reflective";
                reflectivity = 0.8;
                roughness = 0.01;
                color = {r = 130; g = 87; b = 195}; # small purple
            };
        },
        {
            position = {x = 1.8; y = -1; z = -1.8};
            radius = 0.5;
            material = {
                type = "lambertian";
                path = "texture/skybox.jpg";
                color = {r = 26; g = 191; b = 31}; # big green
            };
        }
        # {
        #     position = {x = 3.0; y = 0.0; z = -5.0};
        #     radius = 1.0;
        #     material = {
        #         type = "lambertian";
        #         color = {r = 26; g = 191; b = 31}; # small green
        #     };
        # },
        # {
        #     position = {x = 3.0; y = 0.0; z = -5.0};
        #     radius = 1.0;
        #     material = {
        #         type = "lambertian";
        #         color = {r = 0; g = 41; b = 248}; # big blue
        #     };
        # },
        # {
        #     position = {x = 3.0; y = 0.0; z = -5.0};
        #     radius = 1.0;
        #     material = {
        #         type = "lambertian";
        #         color = {r = 0; g = 41; b = 248}; # small blue
        #     };
        # },
        # {
        #     position = {x = 3.0; y = 0.0; z = -5.0};
        #     radius = 1.0;
        #     material = {
        #         type = "lambertian";
        #         color = {r = 167; g = 167; b = 167}; # small grey
        #     };
        # }
    )
    plan = (
        {
            position = {x = 0.0; y = -1.0; z = 0.0};
            normal = {x = 0.0; y = 1.0; z = 0.0};
            material = {
                type = "reflective";
                reflectivity = 0.8;
                roughness = 0.01;
                color = {r = 118; g = 118; b = 118};
            };
        }
    )
};

lights:
{
    # ambient = (
    #     {
    #         color = {r = 255; g = 255; b = 255};
    #         intensity = 0.7;
    #     }
    # )
    ambient = (
        {
            position = {x = -1.0; y = 3.0; z = -2.0};
            color = {r = 255; g = 255; b = 255};
            intensity = 0.5;
        }
    )
};
